[Desktop Entry]
Name=BrainSpell
Type=Application
Comment=BrainF*ck-powered logical game
Exec=qbrainspell
Icon=brainspell
Categories=Game;ArcadeGame;
GenericName=logical game
